#main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-title {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 244, 244);
  width: 600px;
  height: 300px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-labels {
  display: flex;
  flex-direction: column;
}

#input-name {
  margin: 5px 10px;
  border: 3px solid #d3d3d3;
  width: 400px;
  height: 25px;
  border-radius: 5px;
}

#input-email {
  margin: 5px 10px;
  border: 3px solid #d3d3d3;
  width: 400px;
  height: 25px;
  border-radius: 5px;
}

#area {
  margin: 5px 10px;
  border: 3px solid #d3d3d3;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

#save-button {
  height: 30px;
  width: 200px;
  margin: 5px 0px 0px;
  background-color: rgb(58, 81, 97);
  border-radius: 7.5px;
  color: rgb(255, 255, 255);
}

#save-button:hover {
  background-color: #399C8A;
  transform: scale(1.05);
}